h1 {
  color:black;
}

h3{
    color:royalblue;
    font-family:sans-serif;
}


.image{
 background-image:url(/projekat_id150325d/resources/images/index.png); fixed;
    height: 602px;
    background-size: cover;
}

.form{
    max-width: 470px;
    margin:auto;
}

.panel{
    background-color:lightgray;
    border-style:inherit;
    border-color: black;
}

